.rn .navbar-brand,
body:not(.rn) .meet-title {
  opacity: 1;
  visibility: visible;
}
.navbar-brand,
.meet-title {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.head-intro {
  position: absolute;
  z-index: 9;
  left: 1rem;
  top: 1rem;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: #fff;
}
.ab {
  position: absolute;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.g {
  display: grid;
  grid-gap: 20px;
  max-height: calc(100vh - 10rem);
  position: relative;
}
.g-3-4 {
  grid-template-columns: 3fr 1fr;
}
.g-half {
  grid-template-columns: 1fr 1fr;
}
.f {
  display: flex;
}
section > p {
  text-align: left;
}
html,
body,
.reveal {
  font-size: 18px;
}

.ic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ic > figcaption {
  margin-top: 1rem;
}
.ic img {
  flex-shrink: 0;
}
figcaption > p {
  margin: 0 !important;
}
.images {
  display: flex;
  justify-content: space-around;
}
.h-tm {
  font-size: 1.2em;
}
.images > .ic {
  /* margin-right: 5rem; */
}

.tableizer-table td {
  padding: 4px;
  margin: 3px;
}
.reveal pre > code {
  font-size: 0.7rem;
  padding: 2rem 1rem;
  line-height: 1.3;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.half-wrapper {
  overflow: hidden;
}

.half-wrapper > div {
  float: left;
  width: 50%;
  overflow: hidden;
  height: calc(100vh - 14rem);
}

del {
  filter: brightness(0.5) blur(3px);
}

.copyright,
.acknowledgement {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  opacity: 0.5;
  white-space: pre;
}

.copyright {
  bottom: 1em;
  left: 2em;
}

.acknowledgement {
  bottom: 1em;
  right: 8em;
}
